

.aincrement {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 9px;
    margin-left: 16px;
}


.aminus {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 24px;
    height: 24px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    border-radius: 100%;
    padding-left: 8px;
    margin-left: 5px;
    /* text-align: center; */
    /* align-items: center; */
}

.aitemss {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 41px;
    height: 24px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    border-radius: 1px;
    margin-left: 5px;
}

.aplus {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 24px;
    height: 24px;
    background: #FAFAFA 0% 0% no-repeat padding-box;
    border: 1px solid #DBDBDB;
    border-radius: 100%;
    align-items: center;
    /* padding-left: 7px; */
    margin-left: 5px;

}

.aremove {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 15px;
    margin-top: 5px;
    width: 48px;
    height: 20px;
    font: normal normal normal 14px/15px Lato;
    letter-spacing: 0px;
    color: #0A0102;
    outline: none;
    border: none;
    background: transparent;
}
