.bookarray {
    /* border: 1px solid red; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    /* height: 10vh; */
    margin: 0vh 10% 0 10%;
    width: 80vw;
}
.box {
    margin-top: 13vh;
    /* border: 1px solid red; */
    width: 30%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 12vw;
    font-weight: bold;
}

.box h2 {
    /* border: 1px solid red; */
    /* color: grey; */
    position: relative;
    bottom: 50px;
}

.box h5 {
    /* border: 1px solid red; */
    /* margin-left: 1%; */
    position: relative;
    bottom: 50px;
      color: grey;
      bottom:43px;
      left: 2px;
}


@media screen and (min-width: 320px) and (max-width: 700px) {
    .bookarray {
        width: 80vw;
    }
}